* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .lorem-ipsum {
    padding: 1em;
    margin: 1em;
  }
  
  /** carousel **/
  .simple-carousel {
    position: relative;
    overflow: hidden;
    margin: 0 auto 0 auto;
    border-radius: 4px;
    height: 100vh !important; /* Carousel Heigth [now is full screen]*/
  }
  
  .simple-carousel ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .simple-carousel ul li.slide {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: #ccc;
    text-align: center;
    line-height: 300px;
    background-size: cover;
    background-position: center;
  }
  
  .simple-carousel ul li.slide.active {
    opacity: 1;
  }
  
  .simple-carousel a.control_prev,
  a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 5em 2em;
    color: #fff;
    text-decoration: none;
    opacity: 0.6;
    cursor: pointer;
  }
  
  .simple-carousel a.control_prev:hover,
  a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  .simple-carousel a.control_prev {
    left: 0;
    border-radius: 0 2px 2px 0;
  }
  
  .simple-carousel a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
  }
  