<!doctype html>
<html lang="en">

{% include "components/head.njk" %}

<body>
    {% include "components/gtm_body.html" %}

    {% include "components/header_home.njk" %}

    <!-- banner -->
    <div class="ds-banner">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                    <figure>
                        <picture>
                            <source srcset="assets/images/profile-image.webp" type="image/webp">
                            <img src="assets/images/profile-image.jpg" alt="" loading="lazy">
                        </picture>
                    </figure>
                </div>
                <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
                    <section>
                        <h1>
                            <span>HI THERE</span> {{ layoutcontent | safe }}
                        </h1>
                        <ul class="ds-numbervalulist">
                            <li>
                                <strong>2012</strong>
                                <span>First website</span>
                            </li>
                            <li>
                                <strong>32</strong>
                                <span>Clients I worked with</span>
                            </li>
                            <li>
                                <strong>∞</strong>
                                <span>Love for what I do</span>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <!-- banner -->

    <!-- about -->
    <div class="ds-about-section">
        <div class="container">
            <section>
                <h2 class="ds-heading">About Me</h2>
                <p>Invente, design, prototype, industrialize.<br> Origninaly shaped as industrial and mechanical designer applying it for 2 years in the car manufacturing industry, I rapidly took my way off into the extreme sport industry. From there I started
                    building for a freestyle scooter brand and a media company. Working from 3D design to manufacturing at large scale to building brand identity through photography alongisde team & travel management. These experiences have enlighten
                    my love for marketing which got me into Growth Marketing. It enables me pursue this willingness on constantly Invente, design, prototype, industrialize. But in the tech world now!</p>
                <div class="ds-button-sec text-center">
                    <a href="/assets/pdf/Resume-Jérémy-Lanfranchi.pdf" class="ds-button">Download Resume</a>
                </div>
            </section>
        </div>
    </div>
    <!-- about -->

    <!--  Skills -->
    <div class="ds-skills-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <h2 class="ds-heading">Core Skills</h2>
                    <ul class="ds-skills-list">
                        <li>Search Ads</li>
                        <li>Social Ads</li>
                        <li>SEO</li>
                        <li>ABM</li>
                        <li>Google Spreadsheet</li>
                        <li>Google Analytics</li>
                        <li>Webflow</li>
                        <li>Github</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Figma</li>
                        <li>Adobe Photoshop</li>
                        <li>Adobe Lightroom</li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <h2 class="ds-heading">Other Skills</h2>
                    <ul class="ds-skills-list">
                        <li>Google Data Studio</li>
                        <li>Content marketing</li>
                        <li>Email marketing</li>
                        <li>Copywriting</li>
                        <li>Creativity</li>
                        <li>UX</li>
                        <li>Responsive Web Design</li>
                        <li>Web Scraping</li>
                        <li>Javascript</li>
                        <li>Davinci Resolve</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--  Skills -->

    <!-- Experience -->
    <div class="ds-experience-section">
        <div class="container">
            <h2 class="ds-heading">Work Experiences</h2>
            <div class="row ds-experience-list">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8 col-xxl-8">
                        <!-- Experiences List -->
                          <div class="ds-investment-list-section">
                              <div class="row">
                                  @@loop('./component/experience.html', [
                                  {
                                      "experience_years": "September 2021 - Present",
                                      "company_logo_path": "/assets/images/company_logo/logo-gitguardian.webp",
                                      "company_logo_path_img" : "/assets/images/company_logo/logo-gitguardian.jpg",
                                      "company_logo_url": "https://www.gitguardian.com",
                                      "alt_company_logo": "Logo GitGuardian",
                                      "experience_job_title": "Growth Marketing Manager",
                                      "experience_description": "GitGuardian is a global cybersecurity startup focusing on code security solutions for the DevOps generation. A leader in the market of secrets detection and remediation, its solutions are already used by hundred thousands developers in all industries.",
                                      "experience_page_path": "index.html"
                                  },
                                  {
                                    "experience_years": "2010 - Present",
                                    "company_logo_path": "/assets/images/company_logo/logo-jeremy-lanfranchi.webp",
                                    "company_logo_path_img" : "/assets/images/company_logo/logo-jeremy-lanfranchi.jpg",
                                    "company_logo_url": "https://www.jeremylanfranchi.com",
                                    "alt_company_logo": "Logo Jérémy Lanfranchi",
                                    "experience_job_title": "Photographer",
                                    "experience_description": "Photograph specialized in extreme sport photography, portrait and product. Also able to shoot and edit video. Recently started to make underwater photography through my love of scuba diving. Always in love of telling stories through beautifull images.",
                                    "experience_page_path": "index.html"
                                  },
                                  {
                                    "experience_years": "September 2019 - September 2021",
                                    "company_logo_path": "/assets/images/company_logo/logo-beng.webp",
                                    "company_logo_path_img" : "/assets/images/company_logo/logo-beng.png",
                                    "company_logo_url": "https://www.beng.agency",
                                    "alt_company_logo": "Logo BenG! Agency",
                                    "experience_job_title": "Independant Growth Marketing Consultant",
                                    "experience_description": "BenG! is a growth marketing agency helping B2C & B2B businesses. One vertical is building e-commerce websites with Shopify (official partner). Then scale the business using a tailored inbound strategy, digital ads and reaching new B2B customers using a fullstack outbound strategy.",
                                    "experience_page_path": "index.html"
                                  },
                                  {
                                    "experience_years": "April 2019 - September 2019",
                                    "company_logo_path": "/assets/images/company_logo/logo-studapart.webp",
                                    "company_logo_path_img" : "/assets/images/company_logo/logo-studapart.png",
                                    "company_logo_url": "https://www.studapart.com",
                                    "alt_company_logo": "Logo Studapart",
                                    "experience_job_title": "Growth Marketing Manager",
                                    "experience_description": "French startup based in Paris helping students find an accomodation near their school by providing an online housing platform for each school and open to overseas student looking for a mid to long term rent in France.",
                                    "experience_page_path": "index.html"
                                  },
                                  {
                                    "experience_years": "November 2018 - April 2019",
                                    "company_logo_path": "/assets/images/company_logo/logo-phenix.webp",
                                    "company_logo_path_img" : "/assets/images/company_logo/logo-phenix.png",
                                    "company_logo_url": "https://www.wearephenix.com",
                                    "alt_company_logo": "Logo Phenix, l'app anti-gaspi",
                                    "experience_job_title": "Growth Marketing Manager",
                                    "experience_description": "Phenix is an anti-waste app for Andoid & Iphone on which food stores can resell short expiry dates items to avoid throwing them away.",
                                    "experience_page_path": "index.html"
                                  },
                                  {
                                    "experience_years": "2013 - 2016",
                                    "company_logo_path": "/assets/images/company_logo/logo-ditched.webp",
                                    "company_logo_path_img" : "/assets/images/company_logo/logo-ditched.png",
                                    "company_logo_url": "https://ditched.dk",
                                    "alt_company_logo": "Logo Ditched.Dk",
                                    "experience_job_title": "Founder",
                                    "experience_description": "News website supporting the growth of the freestyle scooter culture through the eyes of urban art culture. Started as a website, to quickly evolve as a multi channel media by being availble as a mobile app (IOS/Android) and a free bi-monthly magazine.",
                                    "experience_page_path": "index.html"
                                  },
                                  {
                                    "experience_years": "2012 - 2016",
                                    "company_logo_path": "/assets/images/company_logo/logo-ua.webp",
                                    "company_logo_path_img" : "/assets/images/company_logo/logo-ua.png",
                                    "company_logo_url": "https://www.urbanartt.com",
                                    "alt_company_logo": "Logo UrbanArtt",
                                    "experience_job_title": "Associate, Team Manager & Photographer",
                                    "experience_description": "Freestyle scooter brand focussed on the 'street' culture. Every UrbanArtt parts were designed in France. Distributed worldwide. Highly supporting the community by sponsoring some of the top athletes in the world.",
                                    "experience_page_path": "index.html"
                                  },
                                  {
                                    "experience_years": "2012 - 2012",
                                    "company_logo_path": "/assets/images/company_logo/logo-fsn.webp",
                                    "company_logo_path_img" : "/assets/images/company_logo/logo-fsn.jpg",
                                    "company_logo_url": "https://www.urbanartt.com",
                                    "alt_company_logo": "Logo Freestyle Scooter News",
                                    "experience_job_title": "Webmaster & Community manager",
                                    "experience_description": "Freestyle Scooter News was the french/english reference blog to be updated on the news of the freestyle scooter world.",
                                    "experience_page_path": "index.html"
                                  },
                                  {
                                    "experience_years": "2010 - 2012",
                                    "company_logo_path": "/assets/images/company_logo/logo-french-toast.webp",
                                    "company_logo_path_img" : "/assets/images/company_logo/logo-french-toast.jpg",
                                    "company_logo_url": "https://issuu.com/frenchtoast8",
                                    "alt_company_logo": "Logo French Toast Magazine",
                                    "experience_job_title": "Director of photography & writer",
                                    "experience_description": "The very first freestyle scooter magazine in the world. Two version were printed, one in English, the other in our mother tongue, French. Featuring riders and photographer from around the world."
                                  }
                                  ])
                              </div>
                          </div>
                        <!-- Experiences List -->
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- More Experiences -->
    <div class="ds-work-section">
        <div class="container">
        <h2 class="ds-heading">Latest works</h2>

        @@loop('./component/work.html', [
        { 
            "work_title": "Ditched.DK", 
            "work_description": "Ditched.DK was a media dedicated on documenting the street freestyle scooter scene through the prism of underground culture", 
            "work_url": "/experiences/gitguardian.html", 
            "work_button": "Learn more", 
            "work_image_path": "/assets/images/work-1.webp" 
        },
        {
            "work_title": "Ditched.DK", 
            "work_description": "Ditched.DK was a media dedicated on documenting the street freestyle scooter scene through the prism of underground culture", 
            "work_url": "/experiences/gitguardian.html", 
            "work_button": "Learn more", 
            "work_image_path": "/assets/images/work-2.webp"
        }])

        </div>
    </div>


    @@include('./component/footer.html')


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
    <script src="assets/js/main.js"></script>
</body>

</html>