<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 ds-investment-loop">
    <div class="ds-investment-loop-content">
        <figure><a href="@@company_logo_url" target="_blank"><img src="@@company_logo_path" alt="@@alt_company_logo"></a></figure>
        <span class="ds-year">@@experience_years</span>
        <span class="ds-department">@@experience_job_title</span>
        <p>@@experience_description</p>
        <!--
        <div class="text-center">
            <a href="@@experience_page_path" class="ds-button">Learn more</a>
        </div>
        -->
    </div>
</div>