<!-- testimonials -->
<div class="simple-carousel">
    <a href="#" class="control_next"><i class="fa fa-chevron-right"></i></a>
    <a href="#" class="control_prev"><i class="fa fa-chevron-left"></i></a>
    <ul>
      <li class="slide" style="background-image: url('https://wallpapershome.com/images/pages/pic_h/18677.jpg');"></li>
      <li class="slide" style="background-image: url('https://wallpapershome.com/images/pages/pic_h/23795.jpg');"></li>
      <li class="slide" style="background-image: url('https://wallpapershome.com/images/pages/pic_h/23794.jpg');"></li>
      <li class="slide" style="background-image: url('https://wallpapershome.com/images/pages/pic_h/4589.jpg');"></li>
    </ul>
</div>
<!-- testimonials -->