<!-- testimonials -->
<section class="ds-testimonials-section">
    <div class="container">
        <h2><span>Testimonials</span></h2>
        <div class="ds-testimonials-slider">
          <div class="ds-testimonials-loop">
            <article>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis sem maximus, ornare metus ut, congue enim. Sed fermentum nulla tellus, quis efficitur mauris tristique efficitur. Aliquam rhoncus sem sed ullamcorper venenatis. Aenean malesuada eu orci non sodales. Pellentesque facilisis lacus libero, et gravida velit imperdiet ut. Etiam tempor purus eu erat accumsan hendrerit. Phasellus eu ipsum libero. Curabitur consectetur consequat nisi ac  pellentesque facilisis lacus congue.
            </article>
            <section>
              <span class="ds-name">Johnathan Hudi</span>
              <span class="ds-post">Program manager URI tech</span>
            </section>
          </div>
          <div class="ds-testimonials-loop">
            <article>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis sem maximus, ornare metus ut, congue enim. Sed fermentum nulla tellus, quis efficitur mauris tristique efficitur. Aliquam rhoncus sem sed ullamcorper venenatis. Aenean malesuada eu orci non sodales. Pellentesque facilisis lacus libero, et gravida velit imperdiet ut. Etiam tempor purus eu erat accumsan hendrerit. Phasellus eu ipsum libero. Curabitur consectetur consequat nisi ac  pellentesque facilisis lacus congue.
            </article>
            <section>
              <span class="ds-name">Johnathan Hudi</span>
              <span class="ds-post">Program manager URI tech</span>
            </section>
          </div>
          <div class="ds-testimonials-loop">
            <article>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis sem maximus, ornare metus ut, congue enim. Sed fermentum nulla tellus, quis efficitur mauris tristique efficitur. Aliquam rhoncus sem sed ullamcorper venenatis. Aenean malesuada eu orci non sodales. Pellentesque facilisis lacus libero, et gravida velit imperdiet ut. Etiam tempor purus eu erat accumsan hendrerit. Phasellus eu ipsum libero. Curabitur consectetur consequat nisi ac  pellentesque facilisis lacus congue.
            </article>
            <section>
              <span class="ds-name">Johnathan Hudi</span>
              <span class="ds-post">Program manager URI tech</span>
            </section>
          </div>
        </div>
    </div>
  </section>
<!-- testimonials -->