<!--  Work -->
<div class="ds-work-section">
    <div class="container">
        <h2 class="ds-heading">Latest works</h2>
        <div class="ds-work-list-section">
            <div class="ds-work-list">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
                        <section>
                            <h3 class="ds-work-tilte">@@work_title</h3>
                            <p>@@work_description</p>
                            <a href="@@work_url" class="ds-button">@@work_button</a>
                        </section>
                    </div>
                    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                        <figure><img src="@@work_image_path"></figure>
                    </div>
                </div>
            </div>

            <!-- 
           <div class="text-center">
             <a href="works-setails.html" class="ds-button">Discover more work</a>
           </div>
           -->
        </div>
    </div>
</div>

<!--  Work -->