<!-- header -->
<header class="ds-header" id="site-header">
    <div class="container">
        <div class="ds-header-inner">
          <!-- logo -->
          <a href="/index.html" class="ds-logo">
            <span>  
              <picture><source 
              srcset="/assets/images/JL_logo.webp"
              type="image/webp">
              <img src="/assets/images/JL_logo.jpg"
              alt="Logo Jérémy Lanfranchi"
              loading="lazy">
              </picture>
            </span>Jérémy Lanfranchi
          </a>
          <!-- logo -->
        
        <!-- social -->
        <ul class="ds-social">
          {% for icon, link in site.social_links %}

            
              <li><a href={{ link | safe }} target="_blank"><i class="ri-linkedin-fill"></i></a></li>

          {% endfor %}
        </ul>
        <!-- social -->

        </div>
    </div>
</header>
<!-- header -->